body {
    margin: 0;
    padding: 0;
    background-color: #F3EADD;
    font-family: 'Cairo', sans-serif;
}

.menu-title {
    font-family: 'Alfa Slab One';
    font-size: 90px;       
    font-weight: bolder;
    color: #6C2829;
    text-align: center;
    margin-top: 150px;
    text-shadow: 1px 1px 0 #4a1c1d;
}

.search-bar {
    width: 90%;                
    max-width: 600px;            
    height: 95px;               
    background-color: #6c2a2b;    
    border-radius: 50px;         
    margin: 20px auto;
    display: flex;
    align-items: center;
    padding: 0 70px;  
               
}

.search-bar input {
    flex-grow: 1;                 
    margin: 0 12px;             
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    font-family: 'Cairo', sans-serif;
}

.search-bar input::placeholder {
    color: white;
}

.icon-left {
    width: 100px;
    margin-left: -60px;
}

.icon-right{
    width: 100px;
    margin-right: -60px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    padding: 10px 20px 120px; 
    margin-top: 90px; 
    margin-left: 40px;
}

.category-box {
    background-color: #e0d1c0;
    border-radius: 15px;
    padding: 10px 1px;
    text-align: center;
    margin-bottom: 100px;
    width: 400px;
    height: 350px;
}

.burger {
    width: 300px;
    margin-top: -130px;
}

.dessert {
    width: 300px;
    margin-top: -130px;
}

.drink {
    width: 250px;
    margin-top: -5px;
}

.side {
    width: 400px;
    margin-top: -10px;
    margin-left: -20px;
}

.salad {
    width: 350px;
    margin-top: -10px;
}

.cake {
    width: 250px;
    margin-top: -40px;
}


.burger-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -50px;
}

.burger-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.dessert-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -89px;
}

.dessert-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.drink-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -20px;
}

.drink-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.side-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -20px;
}

.side-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -67px;
}

.salad-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -30px;
}

.salad-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -56px;
}

.cake-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -15px;
}

.cake-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.bottom-nav {
    position: fixed;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 230px;
    background-color: #F3EADD;   
    border-top: 2px solid #484747; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    text-align: center;
}

.nav-item img {
    width: 90px;    
}

.nav-item p {
    margin: 10px 0 0;
    font-size: 50px;
    color: #7A3B27;   
    font-family: 'Cairo', sans-serif;
    margin-bottom: -30px;
}

.home-btn img {
    width: 150px;
    height: 150px;
    background-color: #6D1E1F;
    padding: 12px;
    border-radius: 50%;
    margin-top: -70px;
}





@media (max-width: 768px) {

    
    .categories {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
    }

    
    .menu-title {
        font-size: 70px;
        margin-top: 120px;
    }

 
    .search-bar {
        height: 80px;
        border-radius: 40px;
        padding: 0 50px;
    }

   
    .bottom-nav {
        height: 180px;
    }

    .nav-item img {
        width: 70px;
    }
}



























.bottom-nav {
    position: fixed;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 230px;
    background-color: #F3EADD;   
    border-top: 2px solid #484747; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    text-align: center;
}

.nav-item img {
    width: 90px;    
}

.nav-item p {
    margin: 10px 0 0;
    font-size: 50px;
    color: #7A3B27;   
    font-family: 'Cairo', sans-serif;
    margin-bottom: -30px;
}


.home-btn img {
    width: 150px;
    height: 150px;
    background-color: #6D1E1F;
    padding: 12px;
    border-radius: 50%;
    margin-top: -70px;
}

