body {
    margin: 0;
    padding: 0;
    background-color: #F3EADD;
    font-family: 'Cairo', sans-serif;
}

.menu-title {
    font-family: 'Alfa Slab One';
    font-size: 90px;       
    font-weight: bolder;
    color: #6C2829;
    text-align: center;
    margin-top: 150px;
    text-shadow: 1px 1px 0 #4a1c1d;
}

.search-bar {
    width: 90%;                
    max-width: 600px;            
    height: 95px;               
    background-color: #6c2a2b;    
    border-radius: 50px;         
    margin: 20px auto;
    display: flex;
    align-items: center;
    padding: 0 70px;  
               
}

.search-bar input {
    flex-grow: 1;                 
    margin: 0 12px;             
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    font-family: 'Cairo', sans-serif;
}

.search-bar input::placeholder {
    color: white;
}

.icon-left {
    width: 100px;
    margin-left: -60px;
}

.icon-right{
    width: 100px;
    margin-right: -60px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    padding: 10px 20px 120px; 
    margin-top: 90px; 
    margin-left: 40px;
}

.category-box {
    background-color: #e0d1c0;
    border-radius: 15px;
    padding: 10px 1px;
    text-align: center;
    margin-bottom: 100px;
    width: 400px;
    height: 350px;
}

.burger {
    width: 300px;
    margin-top: -130px;
}

.burger-link {
    text-decoration:underline;
    color:#1349be;
    display:block;
}

.dessert {
    width: 300px;
    margin-top: -130px;
}

.drink {
    width: 250px;
    margin-top: -5px;
}

.side {
    width: 400px;
    margin-top: -10px;
    margin-left: -20px;
}

.salad {
    width: 350px;
    margin-top: -10px;
}

.cake {
    width: 250px;
    margin-top: -40px;
}


.burger-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -50px;
}

.burger-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.dessert-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -89px;
}

.dessert-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.drink-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -20px;
}

.drink-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.side-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -20px;
}

.side-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -67px;
}

.salad-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -30px;
}

.salad-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -56px;
}

.cake-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -15px;
}

.cake-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.bottom-nav {
    position: fixed;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 230px;
    background-color: #F3EADD;   
    border-top: 2px solid #484747; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    text-align: center;
}

.nav-item img {
    width: 90px;    
}

.nav-item p {
    margin: 10px 0 0;
    font-size: 50px;
    color: #7A3B27;   
    font-family: 'Cairo', sans-serif;
    margin-bottom: -30px;
}

.home-btn img {
    width: 150px;
    height: 150px;
    background-color: #6D1E1F;
    padding: 12px;
    border-radius: 50%;
    margin-top: -70px;
}





@media (max-width: 768px) {

    
    .categories {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
    }

    
    .menu-title {
        font-size: 70px;
        margin-top: 120px;
    }

 
    .search-bar {
        height: 80px;
        border-radius: 40px;
        padding: 0 50px;
    }

   
    .bottom-nav {
        height: 180px;
    }

    .nav-item img {
        width: 70px;
    }
}
.bottom-nav {
    position: fixed;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 230px;
    background-color: #F3EADD;   
    border-top: 2px solid #484747; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    text-align: center;
}

.nav-item img {
    width: 90px;    
}

.nav-item p {
    margin: 10px 0 0;
    font-size: 50px;
    color: #7A3B27;   
    font-family: 'Cairo', sans-serif;
    margin-bottom: -30px;
}


.home-btn img {
    width: 150px;
    height: 150px;
    background-color: #6D1E1F;
    padding: 12px;
    border-radius: 50%;
    margin-top: -70px;
}










/* ITEM PAGE CSS */
.item-page {
    background-color: #f4e5d1;
    margin: 0;
    padding: 0;
}


.top-bar {
    padding: 40px;
}

.back-arrow {
    width: 80px; 
}

.back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 20px 20px; 
}

.back-icon {
    width: 50px;
    margin-right: 15px; 
}

.back-text {
    font-family: 'Cairo', sans-serif;
    font-size: 45px;
    color: rgb(54, 13, 4);
    text-decoration: underline;
}


.burger-img {
    width: 600px;
    display: block;
    margin: 0 auto;
    margin-top: -160px;
}


.burger-title {
    font-family: 'Alfa Slab One';
    font-size:100px;
    color: #C16E0D;
    text-align: center;
    margin-top: -230px;
   
}


.burger-desco {
    font-family: 'Cairo';
    font-size: 52px;
    color: #260c09;
    font-weight:600;
    padding: 0 70px;
    margin-top: 20px;
    margin-left: 30px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 4px;
}

.total-price-label {
    font-size: 60px;
    color: #421714;
    margin-top: -150px;
    margin-left: 600px;


}

.total-price {
    font-size: 66px;
    font-weight: bold;
    color: #1fa012;
    margin-left: 600px;
    margin-top: -30px;

}

.add-btn-img{
    width: 300px;
    margin-left: 100px;
    margin-top: 30px;

}

.add-cart-img{
    width: 830px;
    margin-left: 60px;
    margin-top: 70px;
}

@media (max-width: 768px) {

    .item-title {
        font-size: 55px;
    }

    .item-description {
        font-size: 28px;
        padding: 0 40px;
    }

    .item-image {
        width: 350px;
    }

    .add-cart-btn {
        font-size: 32px;
        padding: 20px;
    }
}


/* SHOPPING CART CSS */

.cart-box{
    width: 90%;
    max-width: 700px;
    background: white;
    border-radius: 20px;
    margin: 1px auto; 
    padding: 250px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.back-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: -420px;
}

.back-icon {
    width: 70px;
    height: auto;
    margin-left: 50px;
}

.back-text {
    font-family: 'Alfa Slab One';
    font-size: 50px;
    color: #511212;
    margin-left: 40px; 
}

.burger-top-img {
    width: 550px;       
    margin-top: -120px;  
    margin-left: 650px; 
}

.price-wrapper {
    position: absolute;   
    top: 210px;             
    right: 240px;   
   
}

.price-number {
    font-family: 'Alfa Slab One';
    font-size: 90px;
    color: #9d0909;
    font-weight: bolder;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}

.price-eur {
    font-family: 'Alfa Slab One';
    font-size: 70px;
    color: #4f0a0a;
    font-weight: bolder;
    margin-top: 8px;
    margin-left: 30px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}

.burger-title-text {
    font-family: 'Alfa Slab One';
    font-size: 80px;
    color: #C16E0D;
    font-weight: bold;
    margin-top: -550px;         
    margin-left: 25px;  
}       

.personalize-title {
    font-family: 'Cairo', sans-serif;
    font-size: 50px;
    color: #5a3818;
    margin-top: 90px;      
    margin-left: 25px;     
    font-weight: bold;
}

.ingredient-box {
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    margin: 100px -50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-left: 70px;
}

.butter{
    width: 170px;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: -50px;
}

.sauce{
    width: 150px;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: -20px;
}

.cheddar{
    width: 140px;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: -20px;
}

.pepper{
    width: 140px;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: -20px;
}

.ingredient-name {
    font-family: 'Cairo';
    font-size: 47px;
    color: #340505;
    flex-grow: 1;
}

.ingredient-counter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}

.counter-btn {
    width: 230px;
    margin-top: 20px;
}


.ingredient-price {
    font-family: 'Cairo';
    font-size: 40px;
    color: #3f0303;
    font-weight: bold;
}



.show-more {
    width: 100%;
    background-color: #e5d8c4; 
    text-align: center;
    padding: 25px 1px;
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #5a3818;              
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 80px;
}


.pickup-box {
    background-color: #6D1E1F;      
    color: #f3eadd;                 
    font-family: 'Cairo', sans-serif;
    font-size: 45px;
    text-align: center;
    padding: 25px 0;
    width: 90%;
    margin: 20px auto;
    border-radius: 35px;
    margin-left: 120px;
    margin-top: -70px;
}

.price-section {
    width: 90%;
    margin: 30px auto;
    margin-left: 120px;
    margin-top: 90px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    font-family: 'Cairo', sans-serif;
    font-size: 50px;
    color: #6D1E1F;
}

.price-line {
    width: 100%;
    height: 2px;
    background-color: white;
}


.checkout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6D1E1F; 
    width: 90%;
    padding: 25px 0;
    margin: 40px auto;
    border-radius: 35px;
    text-decoration: none;
    margin-left: 140px;
    margin-bottom:70px;
}

.checkout-cart-img {
    width: 90px;
    height: auto;
    margin-right: 25px;
}

.checkout-text {
    font-family: 'Alfa Slab One';
    font-size: 65px;
    color: #f3eadd;  
}


@media (max-width: 768px) {
    .cart-container { width: 95%; padding: 15px; }

    .burger-top-img { width: 180px; }

    .ingredient-box { height: 70px; }
    .ingredient-icon { width: 55px; }

    .checkout-btn { padding: 20px 0; }
    .checkout-icon { width: 70px; }
}






