body {
    margin: 0;
    padding: 0;
    background-color: #F3EADD;
    font-family: 'Cairo', sans-serif;
}

.menu-title {
    font-family: 'Alfa Slab One';
    font-size: 90px;       
    font-weight: bolder;
    color: #6C2829;
    text-align: center;
    margin-top: 150px;
    text-shadow: 1px 1px 0 #4a1c1d;
}

.search-bar {
    width: 90%;                
    max-width: 600px;            
    height: 95px;               
    background-color: #6c2a2b;    
    border-radius: 50px;         
    margin: 20px auto;
    display: flex;
    align-items: center;
    padding: 0 70px;  
               
}

.search-bar input {
    flex-grow: 1;                 
    margin: 0 12px;             
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    font-family: 'Cairo', sans-serif;
}

.search-bar input::placeholder {
    color: white;
}

.icon-left {
    width: 100px;
    margin-left: -60px;
}

.icon-right{
    width: 100px;
    margin-right: -60px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    padding: 10px 20px 120px; 
    margin-top: 90px; 
    margin-left: 40px;
}

.category-box {
    background-color: #e0d1c0;
    border-radius: 15px;
    padding: 10px 1px;
    text-align: center;
    margin-bottom: 100px;
    width: 400px;
    height: 350px;
}

.burger {
    width: 300px;
    margin-top: -130px;
}

.burger-link {
    text-decoration:underline;
    color:#1349be;
    display:block;
}

.dessert {
    width: 300px;
    margin-top: -130px;
}

.drink {
    width: 250px;
    margin-top: -5px;
}

.side {
    width: 400px;
    margin-top: -10px;
    margin-left: -20px;
}

.salad {
    width: 350px;
    margin-top: -10px;
}

.cake {
    width: 250px;
    margin-top: -40px;
}


.burger-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -50px;
}

.burger-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.dessert-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -89px;
}

.dessert-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.drink-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -20px;
}

.drink-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.side-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -20px;
}

.side-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -67px;
}

.salad-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -30px;
}

.salad-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -56px;
}

.cake-text h3 {
    font-family: 'Alfa Slab One';
    font-size: 60px;
    color: #C16E0D;
    margin-top: -15px;
}

.cake-text p {
    font-family: 'Cairo';
    font-size: 40px;
    color: #6c2829;
    margin-top: -62px;
}

.bottom-nav {
    position: fixed;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 230px;
    background-color: #F3EADD;   
    border-top: 2px solid #484747; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    text-align: center;
}

.nav-item img {
    width: 90px;    
}

.nav-item p {
    margin: 10px 0 0;
    font-size: 50px;
    color: #7A3B27;   
    font-family: 'Cairo', sans-serif;
    margin-bottom: -30px;
}

.home-btn img {
    width: 150px;
    height: 150px;
    background-color: #6D1E1F;
    padding: 12px;
    border-radius: 50%;
    margin-top: -70px;
}





@media (max-width: 768px) {

    
    .categories {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
    }

    
    .menu-title {
        font-size: 70px;
        margin-top: 120px;
    }

 
    .search-bar {
        height: 80px;
        border-radius: 40px;
        padding: 0 50px;
    }

   
    .bottom-nav {
        height: 180px;
    }

    .nav-item img {
        width: 70px;
    }
}
.bottom-nav {
    position: fixed;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 230px;
    background-color: #F3EADD;   
    border-top: 2px solid #484747; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    text-align: center;
}

.nav-item img {
    width: 90px;    
}

.nav-item p {
    margin: 10px 0 0;
    font-size: 50px;
    color: #7A3B27;   
    font-family: 'Cairo', sans-serif;
    margin-bottom: -30px;
}


.home-btn img {
    width: 150px;
    height: 150px;
    background-color: #6D1E1F;
    padding: 12px;
    border-radius: 50%;
    margin-top: -70px;
}










/* ITEM PAGE CSS */
.item-page {
    background-color: #f4e5d1;
    margin: 0;
    padding: 0;
}


.top-bar {
    padding: 40px;
}

.back-arrow {
    width: 80px; 
}

.back-link {
    text-decoration: none;
    text-align: left;
}

.back-text {
    color: rgb(68, 22, 12);
    text-decoration: underline;
    font-size: 50px;
    margin-top:-10px;
    margin-left: 120px;
}

.burger-img {
    width: 600px;
    display: block;
    margin: 0 auto;
    margin-top: -160px;
}


.burger-title {
    font-family: 'Alfa Slab One';
    font-size:100px;
    color: #C16E0D;
    text-align: center;
    margin-top: -230px;
   
}


.burger-desco {
    font-family: 'Cairo';
    font-size: 60px;
    color: #260c09;
    padding: 0 70px;
    margin-top: 20px;
    margin-left: 30px;
    line-height: 1.6;
    text-align: center;
     margin-bottom: 20px;
}

.total-price-label {
    font-size: 60px;
    color: #421714;
    margin-top: -150px;
    margin-left: 600px;


}

.total-price {
    font-size: 66px;
    font-weight: bold;
    color: #1fa012;
    margin-left: 600px;
    margin-top: -30px;

}

.add-btn-img{
    width: 300px;
    margin-left: 100px;
    margin-top: 30px;

}

.add-cart-img{
    width: 830px;
    margin-left: 60px;
    margin-top: 70px;
}

@media (max-width: 768px) {

    .item-title {
        font-size: 55px;
    }

    .item-description {
        font-size: 28px;
        padding: 0 40px;
    }

    .item-image {
        width: 350px;
    }

    .add-cart-btn {
        font-size: 32px;
        padding: 20px;
    }
}


/* SHOPPING CART CSS */

.cart-page {
    background-color: #F3EADD;
}

.cart-top {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 0 0 30px 30px;
    text-align: center;
    position: relative;
    height: 350px;
}

.back-arrow {
    width: 60px;
    position: absolute;
    left: 30px;
    top: 30px;
}

.top-menu-text {
    position: absolute;
    left: 120px;
    top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #6C2829;
}

.cart-burger-img {
    width: 480px;
    display: block;
    margin: 30px auto;
    margin-top: -30px;
    margin-left: 480px;
}

.top-menu-text {
    font-size: 40px;
    color: #6C2829;
}

/* PRICE TOP RIGHT */
.price-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 0 40px;
    margin-top: -20px;
}

.price {
    font-size: 60px;
    font-weight: bold;
    color: #6C2829;
}

.currency {
    font-size: 45px;
    color: #6C2829;
    margin-top: 10px; /* moves EUR alone */
}

/* BURGER IMAGE */
.cart-burger-img {
    width: 350px;
    margin-top: -20px;
}

/* TITLE */
.cart-title {
    font-family: 'Alfa Slab One';
    font-size: 65px;
    color: #C16E0D;
    text-align: center;
    margin-top: 20px;
}
.personalize-text {
    font-size: 34px;
    color: #5a3925;
    margin-left: 40px;
    margin-top: 30px;
}