body {
  background-color: #f5e8df; 
  margin: 0;
  padding: 0;
}
  


.hero-content {
  position: relative;
  background-color: #7a2926; 
  width: 100%;
  height: 200px; 
}

.logo-pic{
  position: absolute;
  margin-top: 10px;
  width: 60px;
  margin-left: 50px;
}

.logo-name{
  position: absolute;
  margin-top: 20px;
  width: 140px;
  margin-left: 110px;
}
.logo-texts {
  position: absolute;
  top: 10px;
  right: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logo-text {
  color: rgb(240, 231, 217);
  font-size: 18px;
}

.burger {
  position: absolute;
  right: 170px;   
  bottom: -90px; 
  width: 250px;  
}

.head-line{
  position: absolute;
  top: 70px;      
  left: 60px;      
  color: #f1e3d0;       
}
.head-line h1 {
  font-size: 40px;     
  line-height: 1.1; 
  font-weight: 700;  
  margin: 0;         
}
.head-line p {
  font-size: 22px;
  margin-top: 15px;   
  font-weight: 300;
}

.head-buttons {
  position: absolute;
  top: 130px;     
  left: 450px;     
  display: flex;
  gap: 20px;
}
.order-btn {
  background-color: #e4c18b;
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.menu-btn {
  background-color: #ffffff;
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.menu-section {
  position: relative;
  background-color: #f5e8df;
  padding: 30px 60px;
}

.menu-search {
  position:absolute;
  margin-top: 40px;
  display: flex;
  gap: 10px;
}

.search-input {
  width: 250px;
  padding: 12px 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-btn {
  padding: 12px 20px;
  border-radius: 25px;
  background-color: #7a2926;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.menu-categories {
  margin-top: 100px;
  display: flex;
  gap: 20px;
  margin-left: 1px;
}

.category-box {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;   
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.category-burger {
  position: absolute;
  width: 160px;
  height: 160x;
  margin-bottom: 50px;
}

.category-dessert {
  
  margin-top: 50px; 
  margin-bottom: 10px;
}



.category-name {
  position: absolute;
  margin-bottom: 100px;
  font-size: 20px;
  font-weight: bold;
  color: #7a2926;
}
.category-desc {
  font-size: 16px;
  color: #0c0c0c;
  margin-top: 50px; 
  font-weight: 500;
}

.category-box:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0,0,0,0.15);
}




